* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  font-size: 62.5%;

  /*  Variables de fuente */
  
  --text: 'Khula', sans-serif;
  --subtitlesAndform: 'Lato', sans-serif;
  --titles: 'Prompt', sans-serif;

  /*  Variables de color */
  --formButtons: #478BBC;
  --marginTodoComplete: #0B8F0B
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
.header {
  width: 100%;
  max-width: 425px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.header__containerLogo {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__Logo {
  width: 100%;
}

h1 {
  font-family: var(--titles);
  font-size: 3.2rem;
}


/* control todos */
.controlTodos {
  width: 100%;
  max-width: 425px;
}

.controlTodos__text {
  width: 100%;
  font-family: var(--subtitlesAndform);
  font-size: 1.8rem;
  text-align: center;
}

/* form */
.formAddTodos {
  width: 100%;
  max-width: 425px;
}

.formAddTodos__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 40px 0 20px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  margin: 18px 0 12px 0;
  font-family: var(--subtitlesAndform);
  font-size: 1.1rem;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 5px;
}

.form__button {
  width: 65px;
  height: 25px;
  font-family: var(--subtitlesAndform);
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: white;
  outline: none;
  background: var(--formButtons);
  cursor: pointer;
}

/* Empty Todos */
.emptyTodos {
  width: 100%;
  max-width: 425px;
  display: flex;
  justify-content: center;
  padding: 25px 0;
}
.textEmptyTodos {
  width: 70%;
  font-family: var(--subtitlesAndform);
  font-size: 1.6rem;
  text-align: center;
}


/* Container Todos */
.todosContainer {
  width: 100%;
  max-width: 425px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px 0 20px;
}

.todosList {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 15px 0;
}


/* Todo item */
.todoItem {
  width: 100%;
  min-width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  list-style: none;
}

.checkTodoContainer, .deleteTodoContainer {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  cursor: pointer;
}

.checkTodoContainer img, .deleteTodoContainer img {
  width: 100%;
}

.todoDescription {
  width: 230px;
  height: 35px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 10px;
  font-family: var(--text);
  font-size: 1.2rem;
  line-height: 1.8rem;
  border-radius: 5px;
}

.borderTodoNoCompleted {
  border: 2px solid rgb(177, 177, 177);
}

.borderTodoCompleted {
  text-decoration: line-through;
  border: 2px solid var(--marginTodoComplete);
}


